.ultimas-senhas {
  color: var(--ion-color-primary);
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto;
}

.guiche {
  color: var(--ion-color-primary);
}

.chamar-senha {
  margin-bottom: 20px;
}

.tipo-badge {
  font-weight: 700;
}

.tempo {
  font-size: 12px;
  align-self: center;
}
